alfaNET.Common/obj/
*.suo
alfaNET.Common/bin/
*.user
packages/
alfaNET.Common.Tests/obj/
alfaNET.Common.Tests/bin/
alfaNET.Common.NetFx.Tests/obj/
alfaNET.Common.NetFx/bin/
alfaNET.Common.NetFx/obj/
alfaNET.Common.NetFx.Tests/bin/
*.vspscc
*.nupkg
